:80 {
  encode zstd gzip

  handle /api/* {
    reverse_proxy api:3001
  }

  handle /health {
    reverse_proxy api:3001
  }

  handle /ready {
    reverse_proxy api:3001
  }

  handle {
    reverse_proxy web:3000
  }
}
